@model IEnumerable<Group4_Online_Grocery_List_Application.Models.GroceryList>

@using Group4_Online_Grocery_List_Application.Accessors

@{
    ViewData["Title"] = "Dashboard";
    string userName = "test1@gmail.com";
}

@functions{
    public string WelcomeUser(string username)
    {
        return "Welcome, " + @username;
    }


    public List<GroceryList> GetUsersLists(string email)
    {

        return GroceryListAccessor.GetAllLists(email);
    }

}





@WelcomeUser(userName)
<br/>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dateUpdated)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (GroceryList item in GetUsersLists(userName))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateUpdated)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "ListDashboard", new { email= userName, title = item.title })">Edit</a>|
                    <a href="@Url.Action("Delete", "ListDashboardController")">Delete</a>
                </td>

            </tr>
            }
        </tbody> 
    </table>

</body>




